.modal{
   position: fixed;
   right: 10px;
   bottom: 10px;
   z-index: 5;
   animation: modal 1s linear forwards;
}



@keyframes modal {
   0%{
      opacity: 0;
   }
   100%{
      opacity: 1;
   }
}
